@import url(https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('Fondo.jpg');
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #002E60;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #009475;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  border-radius: 7px;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

#pete{
   text-align: center;
}




body{
  margin: 0;
  font-family: sans-serif;
}

header{
  width: 100%;
  background: #009475;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}

header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex;
}
.menu li{
  border-right: 1px solid #fff;
}

.menu li:hover{
  background: rgba(0,0,0,0.3);
}
.menu li a{
  display: block;
  padding: 15px 20px;
  color:#fff;
  text-decoration: none;
}

@media (max-width:768px){
  header label{
    display: block;
  }
  .menu{
    position:absolute;
    background: #4E97A7;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: 1px solid #fff;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}

*{
  margin:0;
  padding: 0;


}